X_BEARER_TOKEN=
X_USER_ID=
OPENROUTER_KEY=
OPENROUTER_VISION_MODEL=qwen/qwen3-vl-32b-instruct
OPENROUTER_TRANSLATION_MODEL=qwen/qwen3-vl-32b-instruct
OPENROUTER_SYNTHESIS_MODEL=qwen/qwen3-vl-32b-instruct
